@charset "utf-8";
.news-tit{ font-size: 0.32rem; color: #333;}
.news-Stit{ font-size: 0.26rem; color: #454545; margin-top: 0.2rem;}
.news-img{ width: 5.5rem; margin-top: 0.2rem;}
.news-Bp{ font-size: 0.24rem; color: #666; text-align: center; margin: 0 0 0.2rem;}
.news-p{ font-size: 0.22rem; color: #666; margin-top: 0.15rem; line-height: 0.34rem;}
.news-p-bg{ padding: 0.1rem; font-size: 0.22rem; background: #5f9cef; border: 0.03rem dashed #fff; border-radius: 0.1rem; color: #fff; margin-top: 0.15rem;}
.news-p-bd{ border-bottom: 0.01rem solid #5f9cef; line-height: 0.5rem;}
.erweima{ width: 3rem; height: 3rem; margin: 0 auto;}
.blue{ color: #0a85ff;}
.titblue{ color: #5f9cef;}
.txt-ind{ text-indent: 0.44rem;}













