body {
    background: #fff;
    padding-bottom: 60px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

.mt12 {
    margin-top: 12px;
}

.mb12 {
    margin-bottom: 12px;
}

.mt20 {
    margin-top: 20px;
}

.mb20 {
    margin-bottom: 20px;
}

.pt20 {
    padding-top: 20px;
}

.pb20 {
    padding-bottom: 20px;
}

.ptb12 {
    padding-top: 12px;
    padding-bottom: 12px;
}

.plr12 {
    padding-left: 12px;
    padding-right: 12px;
}

.jn-banner, .jn-banner img {
    width: 100%;
}

.jn-con {
    padding: 10px 15px;
}

.jn-text {
    font-size: 13px;
    color: #454545;
    line-height: 24px;
    text-indent: 1em;
    margin-bottom: 10px;
}

.jn-djlj {
    width: 100%;
    height: 32px;
    text-align: center;
    margin-top: 10px;
}

.jn-djlj .weui-btn {
    background: none;
    color: #454545;
    width: 110px;
    font-size: 12px;
    border: 1px solid #999;
}

.jn-djlj .weui-btn:after {
    border: none;
}

.jn-tit {
    width: 100%;
    line-height: 30px;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 15px;
}

.jn-tit .jn-red {
    color: #ff0303;
}

.jn-fc {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.jn-fc li {
    width: 23%;
    height: auto;
    float: left;
    margin: 0 1%;
}

.jn-fc li img {
    width: 100%;
    display: block;
}

.jn-fc li p {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #454545;
    font-size: 12px;
}

.jn-imgbox {
    width: 100%;
    text-align: center;
}

.jn-imgbox img {
    width: 90%;
}
.jn-imgbox2 {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.jn-imgbox2 img {
    width: 100%;
}
.jn-zs {
    width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    margin-top: 10px;
}

.jn-zs img {
    width: 23%;
    height: auto;
    float: left;
    display: block;
    margin: 0 1%;
}

.jn-zs .jn-zs-c {
    position: absolute;
    left: 0;
    margin: 0;
    width: auto;
    top: 0;
    display: none;
}

.jn-zs .jn-zs-e {
    position: absolute;
    right: 0;
    margin: 0;
    width: auto;
    top: 0;
    display: none;
}

.jn-tit2 {
    width: 100%;
    line-height: 30px;
    font-size: 18px;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}

.jn-mx {
    width: 100%;
    overflow: hidden;
}

.jn-mxtp {
    width: 47%;
    float: left;
    margin: 5px 1.5%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.jn-mxtp img {
    width: 100%;
    display: block;
}

.jn-mxtp p {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 20px;
    line-height: 20px;
    background: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.jn-foot {
    width: 100%;
    height: 30px;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    padding: 10px 0;
}

.jn-foot a {
    flex: 1;
    display: block;
    text-align: center;
}


.jn-foot a img {
    width: 50%;
}

.Box1 {
    margin-top: 10px;
}

.Box {
    position: relative;
}
.Box .Box_con {
    position: relative;
}

.Box .Box_con .btnl {
    position: absolute;
}

.Box .Box_con .btn {
    display: block;
    width: 41px;
    height: 41px;
    position: absolute;
    top: 80px;
    cursor: pointer;
}

.Box .Box_con .btnl {
    background: url(img/jtl02.png) no-repeat center;
    left: -72px;
}

.Box .Box_con .btnr {
    background: url(img/jtr02.png) no-repeat center;
    right: -72px;
}

.Box .Box_con .btnl:hover {
    background: url(img/jtl03.png) no-repeat center;
}

.Box .Box_con .btnr:hover {
    background: url(img/jtr03.png) no-repeat center;
}

.Box .Box_con .conbox {
    position: relative;
    overflow: hidden;
}

.Box .Box_con .conbox ul {
    position: relative;
    list-style: none;
}

.Box .Box_con .conbox ul li {
    float: left;
    width: 100px;
    height: auto;
    margin-left: 10px;
    overflow: hidden;
}

.Box .Box_con .conbox ul li:first-child {
    margin-left: 0;
}

.Box .Box_con .conbox ul li img {
    display: block;
    width: 100px;
    height: 75px;
    transition: all 0.5s;
}

.Box .Box_con .conbox ul li:hover img {
    transform: scale(1.1);
}

.Box .BoxSwitch {
    margin-top: 0px;
    text-align: center;
}

.Box .BoxSwitch span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 30px;
    height: 3px;
    background: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.Box .BoxSwitch span.cur {
    background: red;
}

#Box2 img {
    height: auto;
}
